#menuContent{
    color:white;
    height: 84vh;
    width: 250px;
    background: orange;
    position: fixed;
    top:7%;
    z-index: 4;
}
#menuContent div{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#themebtn{
    outline:1px solid black;
    border: none;
    height: 20px;
    width: 40px;
     padding: 3px;
    background-color: #808080;
    display: flex;
    
}
#innerthemebtn{
    background-color: green;
    border:none;
    outline:1px solid black;
    height: 100%;
    width: 50%;
    
    
}
