#contactPage {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-inter);
  background-color: var(--background-color);
}

#section1 {
  padding: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section1 p {
  font-size: 18px;
  line-height: 1.6;
}
#section2 {
  display: grid;
  place-content: center;
  padding: 50px;
  margin: 20px;
  gap: 30px;
  background: rgba(172, 167, 166, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(172, 167, 166, 0.35);
}

#section2 label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#section2 > label > input {
  background-color: var(--surface-bright-color);
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  caret-color: var(--text-color-secondary);
  font-size: 20px;
  color: var(--text-color-secondary);
  border-radius: 5px;
}
#section2 > label > input:focus {
  outline: none;
}
#txtarea {
  padding: 10px;
  min-height: 100px;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--surface-bright-color);
  caret-color: var(--text-color-secondary);
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

#txtarea:focus {
  outline: none;
}

#formbtn {
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 20px 70px 0 50px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

}

#section3 {
  padding: 20px;
  margin: 20px;
  display: grid;
  gap: 30px;
  background: rgba(172, 167, 166, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(172, 167, 166, 0.35);
}

#section3 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#section3 ul li {
  color: white;
  font-size: 16pt;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
}

#section3 h2 {
  padding: 20px 10px 10px 20px;
  color: whitesmoke;
}
