

@media (min-width: 1024px) {
  .contactPage {
    padding: 40px 80px 40px 80px;
  }
  .section1heading {
    font-size: 40px;
    color: var(--text-primary);
  }
  .section1 {
    display: grid;
    gap: 20px;
  }
  .section1para {
    font-size: 24px;
    color: var(--text-primary);
    line-height: 1.6;
    letter-spacing: 1px;
    padding-bottom: 40px;
  }

  .section2,
  .section3 {
    background: rgba(172, 167, 166, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(172, 167, 166, 0.35);
    border-radius: 16px;
    padding: 60px;
  }

  .formInput {
    padding: 25px;
    font-size: 20px;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formbtn {
    margin: 20px 120px 0 120px;
  }

  .section3 {
    margin-top: 50px;
  }

  .section3Title {
    padding-bottom: 20px;
  }

  .socialList {
    padding: 0 40px 0 40px;
  }
}
@media (max-width: 768px) {
  .contactPage {
    padding: 40px 50px 40px 50px;
  }
  .section1heading {
    font-size: 30px;
    color: var(--text-primary);
  }
  .section1 {
    display: grid;
    gap: 20px;
  }
  .section1para {
    font-size: 20px;
    color: var(--text-primary);
    line-height: 1.6;
    letter-spacing: 1px;
    padding-bottom: 40px;
  }

  .section2,
  .section3 {
    background: rgba(172, 167, 166, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(172, 167, 166, 0.35);
    border-radius: 16px;
    padding: 60px;
    margin:40px;
  }

  .formInput {
    padding: 15px;
    font-size: 16px;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formbtn {
    margin: 20px 120px 0 120px;
    font-size: 14px;
  }

  .section3 {
    margin-top: 50px;
  }

  .section3Title {
    padding-bottom: 20px;
  }

  .socialList {
    padding: 0 40px 0 40px;
  }
}
