:root{
    --primary-color:#60a5fa;
    --background-color:#131313;
    --surface-bright-color:#393939 ;
    --text-color:#e3e3e3;

}


#body{
    color:var(--text-color);
    padding: 1.5rem;
    padding-top:60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   } 

#hire {
    border:2px solid var(--surface-bright-color);
    border-radius:1rem;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.7em;
    background-color:green;
    color:black
}

#hire #dot{

    color: white;
    font-size:x-large;
}

#body h1 {
    font-size: 40px;
}

#body h1 span{
    color:red;
}

#body #projects{
    border:2px dotted var(--text-color);
    background-color:var(--primary-color);
    color: var(--background-color);
    width:50%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body #cv {
    border:2px solid var(--primary-color);
    color: var(--primary-color);
     width:50%;
    padding:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body ul{
    list-style-type: none;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 10px;

}

#body ul #skills{ 
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}

#featured_capabilities{
    border:2px solid green;
    display:flex;
    flex-direction: column;
    gap: 40px;
    padding:20px;
    color: var(--text-color);

}

#sysarc{
    border:2px solid red;
    padding:20px;
}
#api{
    border:2px solid blue;
    padding:20px;
}
#sysarc p,#api p{
    font-size: 20pt;
    letter-spacing:1px;
    line-height: 30px;
}