@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
:root {
  --primary-color: #60a5fa;
  --background-color: #131313;
  --surface-bright-color: #393939;
  --text-color: #c1c7d3;
  --accent-color: #ffbb70;
  --button-color: #a4c9ff;
  --sucess-green: #4ade80;
  --text-primary: #e5e2e1;
  --text-secondary: #c1c7d3;
  --font-inter: "Inter", sans-serif;
  --font-jetbrains:"JetBrains Mono",monospace;
}

#body {
  color: var(--text-secondary);
  padding: 1.5rem;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--background-color);
  line-height: 1.6;
  font-family:var(--font-inter);
  font-size: 16px;
  font-weight: 400;
}

#hire {
  border: 1px solid var(--sucess-green);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: var(--sucess-green);
  padding: 10px 18px;
  border-radius: 20px;
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hire:hover {
  box-shadow: 0 0 20px var(--primary-color);
  transform: translateY(-2px);
}

#hire #dot {
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
}

#body h1 {
  font-size: 48px;
  line-height: 1.1;
  font-family: var(--font-inter);
  font-weight: 700;
}

#body h1 span {
  color: var(--accent-color);
}

#body #projects {
  background-color: var(--sucess-green);
  color: var(--surface-bright-color);
  width: 50%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#body #cv {
  border: 2px solid var(--sucess-green);
  color: var(--sucess-green);
  width: 50%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

#body ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  gap: 10px;
}

#body ul #skills {
  border: 1px solid var(--button-color);
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px 10px 5px;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 600;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#featured_capabilities {
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  
}

#sysarc {
  padding: 24px;
  transition: all .5s ease;
background: rgba(172, 167, 166, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.5px);
-webkit-backdrop-filter: blur(0.5px);
border: 1px solid rgba(172, 167, 166, 0.35);
}

#sysarc:hover {
  border-color: #a4c9ff;
  box-shadow: 0 0 20px rgba(164, 201, 255, 0.1);
  transform: translateY(-4px);
  border-left-width: 10px;
  border-radius: 0px;
}

#sysarc h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 2;
  color: #e5e2e1;
}
#sysarc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #c1c7d3;
}

#fcheading {
  font-family: var(--font-jetbrains);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #8b919d;
  text-transform: uppercase;
}
