.stackPage {
  color: white;
  min-height: 100vh;
  margin: 50px 10px 10px 10px;
  font-family: var(--font-inter);
  background-color: var(--background-color);
  font-weight: 400;
}

.stackHeading {
  padding: 10px 10px 5px 10px;
  letter-spacing: 1px;
  color: var(--text-primary);
}

.stackPara {
  padding: 10px;
  line-height: 1.6;
  color: var(--text-secondary);
  font-size: 18px;
}

.skillContainer {
  margin: 50px 10px 10px 10px;
  padding: 30px;
  display: grid;
  gap: 30px;
  background: rgba(172, 167, 166, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(172, 167, 166, 0.35);
}

.skillSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillSection > div > section > p {
  display: flex;
  justify-content: space-between;
}

.skillPercent {
  display: grid;
  gap: 5px;
}

.skillbtn {
  border-radius: 50px;
  border: none;
  display: flex;
  height: 5px;
  overflow: hidden;
}

.btn-span {
  width: var(--percent);
  background-color: #fabd34;
  border: none;
  border-radius: 50px;
  animation: percent 1s ease-out;
}

@keyframes percent {
   0% {
     width: 5%; 
} 
100% {
   width: var(--percent); 
} 
}

/* =========================
   TABLET (768px+)
========================= */
@media (min-width: 768px) {
  .stackPage {
    margin: 30px 60px 40px 60px;
  }

  .stackHeading {
    font-size: 30px;
    padding: 10px 20px;
    color: var(--accent-color);
    font-weight: 400;
  }

  .stackPara {
    font-size: 18px;
    padding: 10px 20px;
  }

  .skillContainer {
    margin: 60px 20px;
    padding: 35px;
    gap: 40px;
    font-size:20px;
  }

  .skillSection {
    gap: 25px;
  }

  .skillPercent p {
    font-size: 20px;
  }
}

/* =========================
   SMALL DESKTOP (1024px+)
========================= */
@media (min-width: 1024px) {
  .stackPage {
    margin: 30px 80px 50px 80px;
  }

  .stackHeading {
    font-size: 40px;
  }

  .stackPara {
    font-size: 24px;
  }

  .skillContainer {
    padding: 40px;
    margin: 50px;
    max-width: 1100px;
  }

  .skillSection {
    gap: 30px;
  }

  .skillPercent p {
    font-size: 17px;
  }

  .skillbtn {
    height: 6px;
  }
}

/* =========================
   LARGE DESKTOP (1280px+)
========================= */
@media (min-width: 1280px) {
  .stackPage {
    margin: 120px 120px 60px 120px;
  }

  .stackHeading {
    font-size: 46px;
  }

  .stackPara {
    font-size: 22px;
    line-height: 1.8;
  }

  .skillContainer {
    max-width: 1200px;
    padding: 50px;
  }

  .skillSection {
    gap: 35px;
  }
}