#stackPage {
  color: white;
  min-height: 100vh;
  margin: 50px 10px 10px 10px;
  font-family: var(--font-inter);
  background-color: var(--background-color);
  font-weight: 400;
}

#stackHeading {
  padding: 10px 10px 5px 10px;
  letter-spacing: 1px;
  color: var(--text-primary);
}

#stackPara {
  padding: 10px;
  line-height: 1.6;
  color: var(--text-secondary);
  font-size: 17px;
}

#skillContainer {
  margin: 50px 10px 10px 10px;
  padding: 30px;
  display: grid;
  gap: 30px;
  background: rgba(172, 167, 166, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(172, 167, 166, 0.35);
}

#skillSection {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#skillSection > div > section > p {
  display: flex;
  justify-content: space-between;
}

#skillSection > section {
  display: flex;
  flex-direction: column;
}

#stackContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#stackbtn {
  padding: 5px;
}

#skillPercent {
  display: grid;
  gap: 5px;
}

#skillbtn {
  border-radius: 50px;
  border: none;
  display: flex;
  height: 5px;
}

#btn-span {
  background-color: #fabd34;
  animation: percent 1s ease-out;
  border: none;
  border-radius: 50px;
}


@keyframes percent {
  0% {
    width: 5%;
  }
  100% {
    width: 100%;
  }
}
