#footer {
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid var(--surface-bright-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-color);
  position: sticky;
  bottom: 0%;
  z-index: 11;
  background-color: var(--surface-bright-color);

}
#footer section img {
  width: 30px;
  height: 30px;
}

#footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer section p {
  font-weight: bold;
  color: var(--text-color);
}

#footer .link {
  text-decoration: none;
}

#footerbtn:focus {
  -webkit-tap-highlight-color: transparent;
}
