#footer{
    background: #201f1f;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #e5e2e1;
    position: sticky;
    bottom: 0%;
    z-index: 11;

}
#footer section img{
    width: 30px;
    height: 30px;
    
}



#footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer section p{
    font-weight:bold;
    color:white;
}

#footer .link{
    text-decoration: none;

}

#footerbtn:focus{
    -webkit-tap-highlight-color: transparent;

}