#navbar{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0%;
    padding: 1rem;
    z-index: 10;

      
}

#navbar img{
    width: 30px;
    height: 30px;
}

#navbar > section {
    display: flex;
    padding: 2px;
    gap:10px;
    align-items: center;
    justify-content: center;
}

#navbar > section > p {
    font-size: 15pt;
    font-weight: bold;
}

