.navbar{
    background: #201f1f;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #334155;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e5e2e1;
    position: sticky;
    top:0%;
    z-index: 11;

}

.navbar img{
    width: 30px;
    height: 30px;
}

.navbar > section {
    display: flex;
    padding: 2px;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.navbar > section > p {
    font-size: 15pt;
    font-weight: bold;
}

@media(min-width:768px){
    .navbar{
        padding: 50px;
    }
    .navbar img{
    width: 40px;
    height: 40px;
}
}