#navbar{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0%;
    padding: 1rem;
    z-index: 10;

      
}

#navbar img{
    width: 30px;
    height: 30px;
}